[tool.poetry]
name = "padpo"
version = "0.7.0"
description = "Linter for gettext files"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent"
    # TODO: Add more
]
authors = ["Vincent Poulailleau <vpoulailleau@gmail.com>"]
readme = "README.md"
repository = "https://github.com/vpoulailleau/padpo"
homepage = "https://github.com/vpoulailleau/padpo"
documentation = "https://github.com/vpoulailleau/padpo"
keywords = ["gettext", "linter"]
license = "BSD-3-Clause"
include = ["padpo/**/*.py"]

[tool.poetry.dependencies]
python = "^3.7"
requests = "2.22.0"
simplelogging = "0.10.0"
wheel = "0.33.6"  # for grammalecte
setuptools = "42.0.2"  # for grammalecte

[tool.poetry.dev-dependencies]
pytest = "6.0.1"
pytest-cov = "2.10.0"
tox = "3.18.1"
twine = "3.2.0"

[tool.poetry.scripts]
padpo = "padpo.padpo:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = True
envlist = py37, py38

[testenv]
whitelist_externals = poetry
changedir = {toxinidir}/tests
commands =
    poetry install -v
    # poetry run pytest -s -vv --cov={envsitepackagesdir}/padpo
    poetry run pytest -s -vv --cov=padpo
"""